.retour{
    width: 100%;
}
nav{
    background-color: lightblue;
    padding: 2%;
    width: 60%;
    height: auto;
    text-align: center;
}
.lien{
    color: blue;
    text-decoration: underline;
    padding: 1%;
    cursor: pointer;
}