#menu > h1 {
  padding: 0 2%;
}
#menu > #formAjoutParcelle {
  display: none;
  background-color: lightblue;
  justify-content: center;
  flex-direction: row;
  padding: 2%;
}
#menu > #sidebar {
  width: 35vw;
  padding: 0 1%;
}
#menu > #sidebar h2,
#menu > #sidebar p {
  cursor: pointer;
  margin: 2px 0px;
}
#menu > #sidebar #menu > h2:hover {
  text-decoration: underline;
}
#menu > #map {
  width: 65vw;
  height: 100%;
}
#menu > #afficherFormulaire {
  margin: 1%;
}
#menu > h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 2%;
  padding: 1% 1%;
}
#menu > h2:hover {
  text-decoration: underline;
}
#menu > li > p {
  margin: 2%;
  padding: 2%;
}