
body {
    display: flex;
    justify-content: center;
}

h1{
    font-size: 30px;
    font-weight: bold;
    margin: 2%;
}

form{
    background-color: lightblue;
}

#ConnectionView{
    width: 100vw;
}

#connectionUtilisateur {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 2%;
    width: 70%;
}

#connectionUtilisateur>input {
    width: 50%;
}

#connectionUtilisateur>label {
    font-weight: 20px;
    font-size: 20px;
}

#connectionUtilisateur>#btnvalider {
    width: 40%;
    margin-top: 1%;
}

#affichageErr{
    color: red;
    text-align: center;
}

#menu{
    display: flex;
    min-width: 100%;
    min-height: 100vh;
}