<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBb-LW0E0EktYw4G7Bb-WxgURITxqUKwE&callback=initMap"></script>
<script src="./script/trouverParcelle.js"></script>
<div id="menu">
    <div id="sidebar">
        <h1>Menu parcelles</h1>
        
        <form method="post" id="formAjoutParcelle">
            <label for="adresse">Adresse</label>
            <input type="text" id="adresse" placeholder="saisir adresse">
            <input type="button" id="ajouterParcelle" value="Creer">
        </form>
        <input type="button" id="afficherFormulaire" value="Ajouter une parcelle">
        <div>
            <ol id="listeParcelle">
            </ol>
        </div>
    </div>
    <div id="map"></div>
</div>
<script>

    $(document).trouverParcelle({
        user,
        success: (parcelle) => {
            $("#listeParcelle").append(`<li><h2>${parcelle.toString}</h2><h4>${parcelle.adresse.toString}</h4></li>`)
        }
    })








    let map;
    let geocoder;

    function initMap() {
        geocoder = new google.maps.Geocoder();

        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 100, lng: 1 },
            zoom: 6,
        });

        geocoder.geocode({ address: "9 rue Dalloz Limoges" }, function (result, status) {
            if (status == google.maps.GeocoderStatus.OK) {

                if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {

                    map.setCenter(result[0].geometry.location);
                }
            }
        });
        placerMarqueurs(geocoder);
    }

    // fonction pour placer les marqueurs
    function placerMarqueurs(geocoder) {
        $('h4').each((i,address) => {
            geocoder.geocode({ address: address.textContent }, function (result, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
                        new google.maps.Marker({
                            position: {
                                lat : result[0].geometry.location.lat(),
                                lng : result[0].geometry.location.lng()
                            },
                            map,
                            title: adresse.innerText,
                            label: (i + 1).toString(),
                        });
                    }
                }
            });
        })
    }

    // fonction pour deplacer la map
    function moveMap(address) {
        geocoder = new google.maps.Geocoder();
        console.log(address)
        geocoder.geocode({ address }, function (result, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
                    map.setCenter(result[0].geometry.location);
                    map.setZoom(16);
                }
            }
        });

    }

    // ajout des parcelles dans la sidebar
    let adresses = $("li>h4");
    adresses.each((index, adresse) => $(document).on('click', "li", function (event) {
        console.log(adresse);
        moveMap(adresse.textContent);
    }))
    
    $("#formAjoutParcelle").hide();

    let btnAfficherFormAjoutParcelle = $("#afficherFormulaire");
    btnAfficherFormAjoutParcelle.on('click', function () {
        btnAfficherFormAjoutParcelle.val(changerTexteBoutonParcelle());
        $("#formAjoutParcelle").toggle();
    })

    function changerTexteBoutonParcelle() {
        if (btnAfficherFormAjoutParcelle.val() == "Cacher parcelle") {
            return "Ajouter une parcelle";
        } else {
            return "Cacher parcelle";
        }
    }

    /*let btnAfficherFormAjoutParcelle = document.getElementById("afficherFormulaire");
    btnAfficherFormAjoutParcelle.addEventListener("click", function (event) {
        if (formAjoutParcelle.style.display == "block") {
            formAjoutParcelle.style.display = "none";
            btnAfficherFormAjoutParcelle.setAttribute('value', "Ajouter parcelle");
        } else {
            formAjoutParcelle.style.display = "block";
            btnAfficherFormAjoutParcelle.setAttribute('value', "cacher formulaire");
        }

    });*/

    let formAjoutParcelle = document.getElementById("formAjoutParcelle");
    let btnAjoutParcelle = document.getElementById("ajouterParcelle");
    btnAjoutParcelle.addEventListener("click", function (event) {
        /*Creation de l'adresse*/
        let nouvelleAdresse = document.getElementById("adresse").value;
        let listeParcelle = document.getElementById("listeParcelle");
        let nouveauLi = document.createElement('li');
        let baliseAdresse = document.createElement('h2');
        baliseAdresse.innerText = nouvelleAdresse;
        nouveauLi.append(baliseAdresse);
        //listeParcelle.append(nouveauLi);

        listeParcelle.addEventListener("click", function (event) {
            moveMap(nouvelleAdresse);
        });
        /*Creation de l'affichage du produit*/
        let nouveauProduit = document.getElementById("produit").value;
        let nouveauP = document.createElement('p');
        nouveauP.innerText = nouveauProduit;
        nouveauLi.append(nouveauP);
        listeParcelle.append(nouveauLi);
    })

</script>

</html>