<script src="../script/jquery.js"></script>
<div id="menu">
    <nav>
        <h1>Menu</h1>
        <ul>
            <li class="lien">Ajouter parcelle</li>
            <li class="lien">Modifier parcelle</li>
        </ul>
    </nav>
    <img src="./ressource/illustrationMenu.PNG" alt="Image d'illustration">
</div>
<script>
            //Le router de l'application
            $(this).ready( () => {
            $(".lien").on('click', function () {
               let texte = $(this).text();
               let url;
               switch (texte) {
                   case "Ajouter parcelle":
                       url = './views/ajouterparcelle.html';
                       break;
    
                    case "Modifier parcelle":
                       url = './views/modifierparcelle.html';
                       break;
    
                    case "retour":
                        url = './views/menu.html';
                        break;
               
                   default:
                       url = './views/erreurroutage.html';
                       break;
                }
               $.get(url, (contenuVue) => {
                    let retour = $("<p id='retour'>retour</p>");
                    $("body").html(contenuVue);
                    $("body").append(retour);
                    $("#retour").on('click', () => {
                        $.get('views/menu.html', (contenuMenu) =>{
                            $("body").html(contenuMenu);
                        });
                    })
                });
            });
        });
</script>