<script src="../script/jquery.js"></script>
<style>
    nav{
        background-color: lightblue;
        padding: 2%;
        width: 60%;
        text-align: center;
    }
    .lien{
        color: blue;
        text-decoration: underline;
        padding: 1%;
    }
</style>
<div id="menu">
    <nav>
        <h1>Menu</h1>
        <ul>
            <li class="lien">
                Ajouter parcelle
            </li>
            <li class="lien">
                Modifier parcelle
            </li>
        </ul>
    </nav>
</div>
<!--TODO : faire marcher cette page !-->
<script>
    //Creation des routes
    $(this).ready( () => {
        $(".lien").on('click', () => {
            console.log($(this));

            switch ($(this).text()) {
                case "Ajouter parcelle":
                    $.get("./views/ajouterparcelle.html", (htmlObtenu) => {
                        $("body").html(htmlObtenu);
                    });
                    break;

                case "Modifier parcelle":
                    $.get("./views/modifierparcelle.html", (htmlObtenu) => {
                        $("body").html(htmlObtenu);
                    });
                    break;
            
                default:
                    $.get("./views/erreurroutage.html", (htmlObtenu) => {
                        $("body").html(htmlObtenu);
                    });
                    break;
            }
        });
    });
</script>