<script src="./script/trouverParcelle.js"></script>
<div id="modification">
    <nav class="retour">
        <ul>
            <li class="lien">Retour</li>
        </ul>
    </nav>
    <h1>Modifier une parcelle</h1>
    <h2 id="affichageParcelleSelectionee">Parcelle selectionnée : </h2>
    <div id="conteneur">
        <div id="affichageParcelleModification">
            <ol id="listeParcelle">
                <!--C'est ici que s'affiche la liste des parcelles-->
            </ol>
        </div>
        <form method="post" id="formModifierParcelle">
            <h3>Modifier la parcelle selectionnée</h3>
            <label for="Numero">Numéro</label>
            <input type="text"   id="Numero"      class="controleFormulaire" placeholder="saisir numéro">
            <label for="typeRue">type de rue</label>
            <select name="typeRue" id="typeRue">
                <option value="null"> ---- </option>
            </select>
            <label for="Adresse">Adresse</label>
            <input type="text"   id="Adresse"     class="controleFormulaire" placeholder="saisir adresse">
            <label for="Codepostal">Code postal</label>
            <input type="text"   id="Codepostal"  class="controleFormulaire" placeholder="saisir code postal">
            <label for="Ville">Ville</label>
            <input type="text"   id="Ville"       class="controleFormulaire" placeholder="saisir ville">
            <label for="Description">Description</label>
            <input type="text"   id="Description" class="controleFormulaire" placeholder="saisir Description">
            <label for="Libelle">Libelle</label>
            <input type="text"   id="Libelle"     class="controleFormulaire" placeholder="saisir Libelle">
            <input type="button" id="btnValiderFormModif" value="Valider Modification">
        </form>
    </div>
</div>
<script>
    //Cette structure permet de stocker la dernière parcelle sélectionnée
    let parcelleSelectionnee = {libelle : "", adresse : ""}

    //Action au chargement de la vue
    $(this).ready( () => {
        $(".lien").on('click', () => {
            $.get("./views/menu.html", (htmlObtenue) => {
                $("body").html(htmlObtenue);
            });
        });

        //Par défaut, on cache le forulaire. Il sera montrer dès que l'on a choisi l'adresse que l'on veut changer.
        //Je n'utilise pas de .hide() car je veux préservé l'espace que prend le formulaire
        $("#formModifierParcelle").css('visibility','hidden');

        $("#btnValiderFormModif").on('click', () => {
            if(!verifierSiFormulaireEstRempli()){
                alert("Vous devez remplir tout les champs");
                
            } else{
                alert("Modification apporté");
            }
        });
    });

    //recuperation et ajout des types de rue dans le formulaire de modification select
    $.ajax({
        url : "http://vps.e-mingo.net/coopagri/app/index.php?&c=api&n=typeRue&x=1",
        crossDomain: true,
        success: function(json) {
            json.data.forEach(type => {
                console.log("test")
                $("#typeRue").append(`<option value='${type.id}'>${type.libelle}</option>`)
            });
        },
        error: function(t,e, l) {
            error();
        },
    })

    $(this).trouverParcelle({
        user,
        success : (parcelle) => {
            $("#listeParcelle").append(`<li class='infoParcelle'>
                <h2>${parcelle?.toString}</h2>
                <h4>${parcelle?.adresse?.toString}</h4>
                <button class="btnModifierParcelle">Modifier</button>
                </li>`
            );
            $(`.btnModifierParcelle`).on("click", (event) => {
                $("#affichageParcelleSelectionee").text("Parcelle selectionnée : ");

                let adresse = $(event.target).prev().text();
                let libelle = $(event.target).prev().prev().text();

                parcelleSelectionnee.libelle = libelle;
                parcelleSelectionnee.adresse = adresse;
                
                $("#formModifierParcelle").css('visibility','visible');

                $("#affichageParcelleSelectionee").text($("#affichageParcelleSelectionee").text() + libelle);
            });
        },
        error: (msg) => {
            console.error(msg)
        }
    });

    //Cette fonction vérifie que les input de type texte d'un formulaire son bien remplie, sinon elle renvoie false.
    function verifierSiFormulaireEstRempli() {
        $(".controleFormulaire").each( (index, controle) => {
            if ($(controle).val() === "") {
                return false;
            }
        });
        if ($("#typeRue").find(":selected").text() == " ---- " || $("#typeRue").find(":selected").text() == undefined) {
            return false;
        }
        return true;
    }

    //permet de stocker la dernière parcelle choisie
    function raffraichirParcelleSelectionner(adresse,libelle) {
        if (adresse != parcelleSelectionnee.adresse || libelle != parcelleSelectionnee.libelle) {
            parcelleSelectionnee.adresse = adresse;
            parcelleSelectionnee.libelle = libelle;
        }
    }

    //RDV à cette URL, elle donne des infos intéressantes, reste plus qu'a voir la doc. (si il y en a, sinon harceler le prof)
    //http://vps.e-mingo.net/coopagri/app/index.php?c=Adresse&x=1&a=changer on peut remplacer par modifier, après ça ressemble 
    //pas à ce que l'on cherche, au pire : on suprimme la parcelle et on en fait une autre... plus simple
</script>