<div id="modification">
    <nav>
        <li class="lien">Retour</li>
    </nav>
    <form method="post" id="formModifierParcelle">
        <label for="Numero">Numéro</label>
        <input type="text" id="Numero" placeholder="saisir numéro">
        <label for="typeRue">type de rue</label>
        <select name="typeRue" id="typeRue">
            <option value="null"> ---- </option>
        </select>
        <label for="Adresse">Adresse</label>
        <input type="text" id="Adresse" placeholder="saisir adresse">
        <label for="Codepostal">Code postal</label>
        <input type="text" id="Codepostal" placeholder="saisir code postal">
        <label for="Ville">Ville</label>
        <input type="text" id="Ville" placeholder="saisir ville">
        <label for="Description">Description</label>
        <input type="text" id="Description" placeholder="saisir Description">
        <label for="Libelle">Libelle</label>
        <input type="text" id="Libelle" placeholder="saisir Libelle">
        <input type="button" id="Libelle" value="Creer">
    </form>
</div>
<script>
    $(this).ready( () => {
        $(".lien").on('click', () => {
            $.get("./views/menu.html", (htmlObtenue) => {
                $("body").html(htmlObtenue);
            });
        });

        //Par défaut, on cache le forulaire. Il sera montrer dès que l'on a choisi l'adresse que l'on veut changer.
        $("#formModifierParcelle").toggle();
    });

    //RDV à cette URL, elle donne des trucs intéressant, reste plus qu'a voir la doc. (si il y en a, sinon harceler le prof)
    //http://vps.e-mingo.net/coopagri/app/index.php?c=Adresse&x=1&a=changer on peut remplacer par modifier, après ça ressemble 
    //pas à un formulaire pour faire ce qu'on veut.
</script>