<script src="./script/trouverParcelle.js"></script>
<div id="statistiquesVentes">
    <h1>Statistiques des parcelles</h1>
    <nav class="retour">
        <ul>
            <li class="lien">Retour</li>
        </ul>
    </nav>
    <ul id="listeParcelle">
        <lo>
            <!--Ici s'affiche les parcelles-->
        </lo>
    </ul>
</div>
<script>
    $(".lien").on('click', () => {
        $.get('./views/menu.html', (htmlObtenu) => {
            $("body").html(htmlObtenu);
        });
    });

    $(this).trouverParcelle({
        user,
        success : (parcelle) => {
            let htmlAffichageChamp = "<ol id='listeChampParcelle'>";
            
            parcelle.champs.forEach(champ => {
                htmlAffichageChamp += "<li>" + champ.libelle +"</li>";
            });

            htmlAffichageChamp += "</ol>";

            let htmlAffichageParcelle = "<h2 class='nomParcelle'>" + parcelle.libelle + "</h2>" +
                                        "<h3 class='adresseParcelle'>" + parcelle.adresse.toString + "</h3>" +
                                        htmlAffichageChamp;

            $("#listeParcelle").append(htmlAffichageParcelle);
            console.log(parcelle.categorieProduit);
        },
        error: (msg) => {
            console.error(msg);
        },
    });
</script>