<script src="./script/trouverParcelle.js"></script>
<div id="statistiquesVentes">
    <h1>Statistiques des parcelles</h1>
    <nav class="retour">
        <ul>
            <li class="lien">Retour</li>
        </ul>
    </nav>
    <ul id="listeParcelle">
        <lo>
            <!--Ici s'affiche les parcelles-->
        </lo>
    </ul>
</div>
<script>
    $(".lien").on('click', () => {
        $.get('./views/menu.html', (htmlObtenu) => {
            $("body").html(htmlObtenu);
        });
    });

    $(this).trouverParcelle({
        user,
        success : (parcelle) => {
            console.log(parcelle);
        },
        error: (msg) => {
            console.error(msg);
        },
    });
</script>