<script src="./script/trouverParcelle.js"></script>
<div id="statistiquesVentes">
    <h1>Statistiques des parcelles</h1>
    <nav class="retour">
        <ul>
            <li class="lien">Retour</li>
        </ul>
    </nav>
    <ul id="listeParcelle">
        <lo>
            <!--Ici s'affiche les parcelles-->
        </lo>
    </ul>
</div>
<script>
    $(".lien").on('click', () => {
        $.get('./views/menu.html', (htmlObtenu) => {
            $("body").html(htmlObtenu);
        });
    });

    $(this).trouverParcelle({
        user,
        success : (parcelle) => {
            let htmlAffichageChamp = "<ol id='listeChampParcelle'>";
            
            parcelle.champs.forEach(champ => {
                htmlAffichageChamp += "<li>" + champ.libelle +"</li>";
            });

            htmlAffichageChamp += "</ol>";

            let htmlAffichageParcelle = "<h2 class='nomParcelle'>" + parcelle.libelle + "</h2>" +
                                        "<h3 class='adresseParcelle'>" + parcelle.adresse.toString + "</h3>";
            
            let htmlAffichageDesProduits = "<ol class='affichageDesProduits'>";

            //On vas chercher les produits de la parcelle
            parcelle.exploitant.categPrevisions.forEach( (categPrevision) => {
                categPrevision?.categorieProduit?.produits.forEach( (produit) => {
                    console.log(produit);
                    htmlAffichageDesProduits += "<li class='affichageProduit'>" + produit + "</li>";
                });
            });
            htmlAffichageDesProduits += "</ol>";

            //On récupère la quantité d'aliments produit dans la parcelle
            let htmlAffichageQuantite = "<p class='affichageQuantite'>" + parcelle.quantite + "</p>";

            //On créé l'affichage complet d'une parcelle
            let htmlAffichageGeneral = htmlAffichageParcelle + htmlAffichageChamp + htmlAffichageDesProduits + htmlAffichageQuantite;

            $("#listeParcelle").append(htmlAffichageGeneral);

            //(Note pour mon groupe) : Je suis passé par là :
            //http://vps.e-mingo.net/coopagri/app/index.php?x=1&renderTo=JSON&noAttribute&noLink&serializationDepth=3&c=parcelle&a=trouver&x=1   
        },
        error: (msg) => {
            console.error(msg);
        },
    });
</script>