<script src="./script/trouverParcelle.js"></script>
<script src="./script/supprimerParcelle.js"></script>
<div id="supprimerParcelle">
    <h1>Supprimer des parcelles</h1>
    <nav class="retour">
        <ul>
            <li class="lien">Retour</li>
        </ul>
    </nav>
    <ol id="listeParcelle">
        <!--Ici s'affiche les parcelles-->
    </ol>
</div>
<script>
    $(this).ready( () => {
        $(".lien").on('click', () => {
            $.get("./views/menu.html", (htmlObtenue) => {
                $("body").html(htmlObtenue);
            });
        });
    });

    $(this).trouverParcelle({
        user,
        success : (parcelle) => {
            $("#listeParcelle").append(`<li class='infoParcelle'>
                <h2>${parcelle?.toString}</h2>
                <h4>${parcelle?.adresse?.toString}</h4>
                <button class="btnSupprimerParcelle">Supprimer</button>`
            );
            //Ajout d'un évènement pour supprimer la parcelle
            $(".btnSupprimerParcelle").on("click", (event) => {
                $(document).supprimerParcelle({
                    user,
                    success : () => {
                        console.log("ok");
                    },
                    error : (msg) => {
                        console.log(msg);
                    },
                });
            });
        },
        error: (msg) => {
            console.error(msg)
        }
    });
</script>
